<table>
  <thead>
    <th>Name</th>
    <th>Amount</th>
    <th>Redline</th>
    <th>Units</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.name}}</td>
      <td class="amount-container">
        <span class="value-container">{{item.amount}}</span>
        <button class="add-container" (click)="substract(item)">-</button>
        <button class="sub-container" (click)="add(item)">+</button>
      </td>
      <td>{{item.redLine}}</td>
      <td>{{item.units}}</td>
    </tr>
  </tbody>
</table>